<div class="row">
  <div class="col py-2">
    <div *ngIf="listCategories != null && !formAjoutCategorie && !formUpdateCategorie" class="product-list">

      <h5>Nos Categories</h5>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nom</th>
              <th>IsDisabled</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listCategories">
              <td>{{ item.nom }}</td>
              <td>{{ item.isDisabled }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
